doctype html
html(lang="en")
  head
    title Driver's License Flashcards
  body
    header
      h1 Driver's License Flashcards
    section#content
      h2= prompt
      if hint
        p
          i Hint: #{hint}
    footer
      p An app to help you study
